body {
    font-family: sans-serif;
    font-size: 1em;
}

.header {
    overflow: hidden;
}

.logo {
    background-color: black;
    color: white;
    text-align: left;
    overflow: hidden;
}

.navigation {
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    color: white;
}

.navigation__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation__list_row {
    flex-direction: row;
}

.navigation__list_column {
    flex-direction: column;
}

.navigation__list_column .navigation__item {
    margin-right: 0;
}

.navigation__item {
    list-style-type: none;
    margin-right: 20px;
}

.navigation__item a {
    color: inherit;
}

